$colors: (
    principal:    #003366,
    principal-fondo:    #aac3fe,
    principal-sombra:    #001e3b,
    secundario:  #008000,
    azulclaro: #bbdefb,
    verdeclaro: #4db6ac,
    verde-grafica: #1f9347,
    verde-rango: #5cb85c,
    amarillo-rango: #fbda56,
    naranja-rango: #f1ad4d,
    azul-grafica: #003366,
    gris: #717173,
    gris-boton: #78909C,
    gris-fondo: #fbfbfb,
    gris-tabla: #ececec,
    gris-fondo-filtro: #f4f4f4,
    gris-iconos-filtro: #d2d2d2,
    gris-linea: #fbfbfb,
    gris-re-captcha: #ddd,
    gris-texto: #999999,
    gris-grafica: #c4c4c4,
    rojo-notificacion: #fe2612,
    leyenda-rojo: #fd6050,
    leyenda-azul: #7ebefe,
    leyenda-verde: #63b163,
    gris-titulo: #cccccc
);
